*{
    padding: 0;
    margin: 0;
}

body{
    /* opacity: 0.75; */
    background: url(./bg2.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;

}